.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #000 !important;
}

.menu{
   
    
    padding:15px;
    font-size: 20px !important ;
    color: #ffff !important
   
}


 
 .text-decorator-none{
    text-decoration: none;
}

.name-portfolio{
    font-weight: bold!important;
}

.margem{
    margin-right: 60%!important;

}

.img-logo-nav{
    width:90px ;
    height:50px ;


}

.alinhamento{
    margin-top: -10px;
}

.margem-img{
 
    margin-left: -30px;
}
